In [278]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import squarify
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [279]:
df = pd.read_csv('order_details.csv')
df.head()

   orderID  productID  unitPrice  quantity  discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [280]:
dc = pd.read_csv('products.csv')
dc.head(20)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
5,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00,120,0,25,0
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00,15,0,10,0
7,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00,6,0,0,0
8,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00,29,0,0,1
9,10,Ikura,4,8,12 - 200 ml jars,31.00,31,0,0,0
10,11,Queso Cabrales,5,4,1 kg pkg.,21.00,22,30,30,0
11,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00,86,0,0,0
12,13,Konbu,6,8,2 kg box,6.00,24,0,5,0
13,14,Tofu,6,7,40 - 100 g pkgs.,23.25,35,0,0,0
14,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50,39,0,5,0
15,16,Pavlova,7,3,32 - 500 g boxes,17.45,29,0,10,0
16,17,Alice Mutton,7,6,20 - 1 kg tins,39.00,0,0,0,1
17,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50,42,0,0,0
18,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.20,25,0,5,0
19,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.00,40,0,0,0

In [281]:
df.drop(["discount"],inplace=True, axis=1)

In [282]:
df.head()

   orderID  productID  unitPrice  quantity
0    10248         11       14.0        12
1    10248         42        9.8        10
2    10248         72       34.8         5
3    10249         14       18.6         9
4    10249         51       42.4        40

In [283]:
dc.drop(["supplierID","categoryID", "quantityPerUnit", "unitPrice", "unitsInStock", "unitsOnOrder", "reorderLevel", "discontinued"],inplace=True, axis=1)

In [284]:
dc.head()

   productID                   productName
0          1                          Chai
1          2                         Chang
2          3                 Aniseed Syrup
3          4  Chef Anton's Cajun Seasoning
4          5        Chef Anton's Gumbo Mix

In [285]:
df.head()

   orderID  productID  unitPrice  quantity
0    10248         11       14.0        12
1    10248         42        9.8        10
2    10248         72       34.8         5
3    10249         14       18.6         9
4    10249         51       42.4        40

In [286]:
result = pd.merge(df, dc, on='productID')

In [287]:
result.head()

   orderID  productID  unitPrice  quantity     productName
0    10248         11       14.0        12  Queso Cabrales
1    10296         11       16.8        12  Queso Cabrales
2    10327         11       16.8        50  Queso Cabrales
3    10353         11       16.8        12  Queso Cabrales
4    10365         11       16.8        24  Queso Cabrales

In [288]:
result['productName'] = result['productName'].str.strip()
result.dropna(axis=0, subset=['orderID'], inplace=True)

In [299]:
basket = (result.groupby(['orderID', 'productName'])['quantity'].sum().unstack().reset_index().fillna(0).set_index('orderID'))
basket.head()

productName,Alice Mutton,Aniseed Syrup,Boston Crab Meat,Camembert Pierrot,Carnarvon Tigers,Chai,Chang,Chartreuse verte,Chef Anton's Cajun Seasoning,Chef Anton's Gumbo Mix,...,Teatime Chocolate Biscuits,Thüringer Rostbratwurst,Tofu,Tourtière,Tunnbröd,Uncle Bob's Organic Dried Pears,Valkoinen suklaa,Vegie-spread,Wimmers gute Semmelknödel,Zaanse koeken
orderID,,,,,,,,,,,,,,,,,,,,,
10248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10252,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [298]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)
 
basket_sets.head()

(830, 77)

In [291]:
frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)
frequent_itemsets.head()

    support             itemsets
0  0.044578       (Alice Mutton)
1  0.014458      (Aniseed Syrup)
2  0.049398   (Boston Crab Meat)
3  0.061446  (Camembert Pierrot)
4  0.032530   (Carnarvon Tigers)

In [292]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
# getting th item sets with length = 2 and support more than 1%

frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.02) ]

     support                            itemsets  length
0   0.044578                      (Alice Mutton)       1
2   0.049398                  (Boston Crab Meat)       1
3   0.061446                 (Camembert Pierrot)       1
4   0.032530                  (Carnarvon Tigers)       1
5   0.045783                              (Chai)       1
6   0.053012                             (Chang)       1
7   0.036145                  (Chartreuse verte)       1
8   0.024096      (Chef Anton's Cajun Seasoning)       1
10  0.028916                     (Côte de Blaye)       1
11  0.021687            (Escargots de Bourgogne)       1
12  0.034940                          (Filo Mix)       1
13  0.050602                       (Flotemysost)       1
14  0.038554                           (Geitost)       1
15  0.060241            (Gnocchi di nonna Alice)       1
16  0.061446                 (Gorgonzola Telino)       1
18  0.061446                (Guaraná Fantástica)       1
19  0.037349                  (Gudbrandsdalsost)       1
20  0.028916                      (Gula Malacca)       1
21  0.038554               (Gumbär Gummibärchen)       1
23  0.039759                             (Ikura)       1
24  0.037349                       (Inlagd Sill)       1
25  0.033735                       (Ipoh Coffee)       1
26  0.056627   (Jack's New England Clam Chowder)       1
27  0.048193                             (Konbu)       1
28  0.046988                      (Lakkalikööri)       1
31  0.038554  (Louisiana Fiery Hot Pepper Sauce)       1
32  0.046988             (Manjimup Dried Apples)       1
34  0.025301                          (Maxilaku)       1
35  0.045783            (Mozzarella di Giovanni)       1
36  0.038554             (Nord-Ost Matjeshering)       1
38  0.021687           (NuNuCa Nuß-Nougat-Creme)       1
39  0.045783   (Original Frankfurter grüne Soße)       1
40  0.046988                     (Outback Lager)       1
41  0.051807                           (Pavlova)       1
42  0.036145                     (Perth Pasties)       1
43  0.039759                      (Pâté chinois)       1
44  0.045783                    (Queso Cabrales)       1
46  0.065060              (Raclette Courdavault)       1
47  0.027711                    (Ravioli Angelo)       1
48  0.055422              (Rhönbräu Klosterbier)       1
51  0.039759                 (Rössle Sauerkraut)       1
52  0.022892                     (Sasquatch Ale)       1
54  0.040964               (Scottish Longbreads)       1
55  0.036145     (Singaporean Hokkien Fried Mee)       1
57  0.046988               (Sir Rodney's Scones)       1
58  0.028916                    (Sirop d'érable)       1
59  0.032530                         (Spegesild)       1
60  0.043373                    (Steeleye Stout)       1
61  0.057831                    (Tarte au sucre)       1
62  0.044578        (Teatime Chocolate Biscuits)       1
63  0.038554           (Thüringer Rostbratwurst)       1
64  0.026506                              (Tofu)       1
65  0.043373                         (Tourtière)       1
66  0.024096                          (Tunnbröd)       1
67  0.034940   (Uncle Bob's Organic Dried Pears)       1
69  0.020482                      (Vegie-spread)       1
70  0.036145         (Wimmers gute Semmelknödel)       1
71  0.025301                     (Zaanse koeken)       1